<ion-header>
  <ion-toolbar>
    <ion-title>TEST 1</ion-title>
    <ion-button (click)="openModal()"color="success">Create</ion-button>  
    <ion-button (click)="showCreateForm(test1)"color="success">Create</ion-button>    
  </ion-toolbar>
</ion-header>
<ion-content>  
<ion-grid>
  <ion-row>
    <ion-col>
      <div size="2">ID</div>
    </ion-col>
    <ion-col size="2">
      <div>CAMPO 1</div>
    </ion-col>
    <ion-col size="4">      
    </ion-col>
    <ion-col size="2">      
    </ion-col>
    <ion-col size="2">      
    </ion-col>
  </ion-row>
  <ion-row *ngFor="let test1 of test1s$ | async">
    <ion-col size="2">
      <div>{{ test1.id }}</div>
    </ion-col>
    <ion-col size="2">
      <div>{{ test1.campo1 }}</div>
    </ion-col>
    <ion-col size="4">
      <div>{{ test1.campo2 }}</div>
    </ion-col>
    <ion-col size="2"> 
      <ion-button (click)="showUpdateForm(test1)"color="success">Update</ion-button>             
    </ion-col>
    <ion-col size="2"> 
      <ion-button (click)="deleteTest1(test1.id)"color="danger">Delete</ion-button>  
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
<div *ngIf="isUpdateActivated" style="margin-top: 50px; margin-left: 50px;">
  <h4>Update Test1</h4>
  <form (ngSubmit)="updateTest1(updateForm)" #updateForm="ngForm">
    <div class="form-group">
      <label for="name">Test1 Campo1</label>
      <input
        type="text"
        id="campo1"
        name="campo1"
        class="form-control"
        required
        [(ngModel)]="test1ToBeUpdated.campo1"
        style="width: 400px"/>
    </div>
    <div class="form-group">
      <label for="side">Campo 2</label>
      <input
        type="text"
        id="campo2"
        name="campo2"
        class="form-control"
        required
        [(ngModel)]="test1ToBeUpdated.campo2"
        style="width: 400px"/>
    </div>
    <button [disabled]="updateForm.invalid" class="btn btn-primary" type="submit">Update</button>
  </form>
</div>

<div *ngIf="isCreateActivated" style="margin-top: 50px; margin-left: 50px;">
  <h4>Create Test1</h4>
  <form (ngSubmit)="cretateTest1(updateForm)" #createForm="ngForm">
    <div class="form-group">
      <label for="name">Test1 Campo1</label>
      <input
        type="text"
        id="campo1"
        name="campo1"
        class="form-control"
        required
        style="width: 400px"/>
    </div>
    <div class="form-group">
      <label for="side">Campo 2</label>
      <input
        type="text"
        id="campo2"
        name="campo2"
        class="form-control"
        required
        style="width: 400px"/>
    </div>
    <button [disabled]="createForm.invalid" class="btn btn-primary" type="submit">Create</button>
  </form>
</div>