<ion-header>
  <ion-toolbar>
    <ion-title>test1 !!!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Campo1</th>
    </tr>
  </thead> 
  <tbody> 
  <tr *ngFor="let test1 of test1s$ | async">
    <td>{{ test1.campo1 }}</td>
  </tr>
</tbody>
</table>
<ion-grid>
  <ion-row>
    <ion-col>
      <div>1 of 3</div>
    </ion-col>
    <ion-col>
      <div>2 of 3</div>
    </ion-col>
    <ion-col>
      <div>3 of 3</div>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
