<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>   

  <ion-grid>
    <ion-row>
      <ion-col size="5"></ion-col>  
      <ion-col>
        <ion-item>
          <ion-label position="floating">LOGIN</ion-label>
          <ion-input label="insert login" placeholder="Login"></ion-input>
        </ion-item>
      </ion-col>  
      <ion-col size="4"></ion-col> 
    </ion-row>
    <ion-row>
      <ion-col size="5"></ion-col>  
      <ion-col>
        <ion-item>
          <ion-label position="floating">PASSWORD</ion-label>
          <ion-input label="Input password" placeholder="Password"></ion-input>
        </ion-item>
      </ion-col>  
      <ion-col size="4"></ion-col> 
    </ion-row>
    <ion-row>
      <ion-col size="5"></ion-col>
      <ion-col>
        <ion-button (click)="checkLogin(test1)" color="success">Login</ion-button>
      </ion-col>  
      <ion-col size="4"></ion-col> 
    </ion-row>
  </ion-grid>

</ion-content>